<html>
	<body>
		<form method="post" action="{% url 'editAction' %}">
		{% csrf_token %}
			<table>
					{% for v in data %}
				<input type="hidden" name="uid" value="{{v.id}}">
				<tr>
					<td>Name:</td>
					<td><input type="text" name="name" value="{{v.name}}"></td>
				</tr>
				<tr>
					<td>Gender:</td>
					<td>{% if v.gender == 'male' %}
					     <input type="radio" name="gender" value="male" checked="true">Male
					    <input type="radio" name="gender" value="female">Female
						{% else %}
					    <input type="radio" name="gender" value="male" >Male
					    <input type="radio" name="gender" value="female" checked="true">Female
						{% endif %}
					</td>
				</tr>
				<tr>
					<td>Dob:</td>
					<td><input type="date" name="dob" value="{{v.dob}}"></td>
				</tr>
				<tr>
					<td>Country:</td>
					<td><select name="country">
						<option value="{{v.country}}">{{v.country}}</option>
						<option value="india">India</option>
						<option value="japan">Japan</option>
					</select>
					</td>
				</tr>
				<tr>
					<td>Address:</td>
					<td><textarea name="address" rows="10" cols="20">{{v.address}}</textarea></td>
				</tr>
				<tr>
					<td>Phone:</td>
					<td><input type="text" name="phone" value="{{v.phone}}"></td>
				</tr>
				<tr>
					<td>Username:</td>
					<td><input type="text" name="username" value="{{v.username}}"></td>
				</tr>
				
				<tr>
					<td></td>
					<td><input type="submit" value="Update"></td>
				</tr>
					{% endfor %}
			</table>
		</form>
	</body>

</html>